<h3>Add Course</h3>

<div class="container">

  <h2>Add Course</h2>
  <form #courseForm="ngForm" (submit)="OnSubmit()">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" required
             name="title" [(ngModel)]="model.title"
             #title
      >
      <span *ngIf="courseForm.form.controls.title?.errors">Title is required</span>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea class="form-control" rows="5" id="description"
                 name="description"
                 [(ngModel)]="model.description"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <select class="form-control" id="category" required
               name="category"
               [(ngModel)]="model.category"
      >
        <option *ngFor="let category of categories" [value]="category">{{category}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!courseForm.form.valid">Submit</button>

  </form>
</div>
