h1{
    color: red
}

.active {
    color:red!important
}
.course-item{
    border: 1px solid green
  }

.title{ font-weight:bold; text-decoration:underline}
.coming-soon { color:orange}
.unpublished{color:red}